<footer>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-text"><h3>Zhixiang Hu Copyright 2015</h3></div>
            <a href="term" class="navbar-text"><h3>Terms of Use</h3></a>
            <a href="privacy" class="navbar-text"><h3>Privacy Policy</h3></a>
            <a href="sitemap" class="navbar-text"><h3>Site Map</h3></a>
        </div>
    </div>
</footer>