    <!--Project Carousel-->
<div id="myCarousel" class="carousel slide row-odd">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img src="/images/App1.png" alt="" class="img-responsive center-block app_image"/>
                <div class="carousel-caption">
                    <a href="/projects/project1">
                        <b3>Resturant Map</b3>
                        <p class="p_description">Lorem consectetur adipiscing elit fusce vel.ipsum dolor sit amet.</p>
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="images/App2.png" alt="" class="img-responsive center-block app_image"/>
                <div class="carousel-caption">
                    <a href="/projects/project2">
                        <b3>Weather Inquiry</b3>
                        <p class="p_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel.</p>
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="images/App3.png" alt="" class="img-responsive center-block app_image"/>
                <div class="carousel-caption">
                    <a href="/projects/project3">
                        <b3>Resturant Order</b3>
                        <p class="p_description">Lorem adipiscing elit fusce vel ipsum dolor sit amet, consectetur dolor sit amet.</p>
                    </a>
                </div>
            </div>
        </div>

        <a href="#myCarousel" class="carousel-control left" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a href="#myCarousel" class="carousel-control right" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
