<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--
    File name : index.html
    Author's name : Zhixiang Hu
    Web site name : Zhixiang Hu Protfolio Site
    This is index page of the web site
    -->

    <title><%= title %></title>

    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="../stylesheets/app.css" rel="stylesheet" />

    <link rel='stylesheet' href='..//stylesheets/style.css' />
  </head>
  <body onload="main();">
  
  <% include ../partials/header.ejs %>
  
   <!-- breadcrumb from here-->
<div class="container hidden-xs">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li class="active">Weather Inquiry</li>
        </ol>
    </div>
</div>

<!-- content from here--->
<div class="row">
    <div class="container">
        <div class="row voffset2">
            <h3>An android application can inquiry weather by zip code</h3>
        </div>
        <div class="row voffset2">
            <img src="../images/App2.png" class="img-responsive" alt=""/>
        </div>
        <div class="row voffset2">
            <a href="Project2_Weather_Inquiry.zip" class="btn btn-success center-block"><h4>Download Installation File (.apk)</h4></a>
        </div>
    </div>
</div>

      
  <% include ../partials/footer.ejs %>
    <script src="../javascripts/jquery-1.11.2.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/app.js"></script>
  </body>
</html>
